.main__adder-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.main__adder-container h2 {
    font-size: var(--sz-colossal);
}
.main__adder-container form {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.main__adder-container form input {
    width: 100%;
}
.main__adder-container form button {
    width: 100%;
}
form select {
    padding: var(--pad-card);
    border-radius: var(--rad-brd-btn);
    border: var(--brd-black-thin);
    font-size: 16px;
    font-weight: 600;
}
.form-selections {
    display: flex;
    width: 100%;
    justify-content: space-between;
}