header {
    background-color: #F0F0F0;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
.header__container-pages {
    display: flex;
    gap: 21px;
}
.header__container-pages a {
    font-weight: 500;
    color: #000;
    font-size: 16px;
}
.header__container-actions {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    font-weight: 500;
}
.header__container-actions img {
    width: 18px;
    height: 18px;
}
.main__screen-one-container {
    margin-top: 45px;
}
.screen__one__container-heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.screen__one__container-heading h2 {
    font-size: var(--sz-colossal);
}
.heading-mail {
    color: var(--clr-blue-dark);
    font-weight: 700;
    font-size: var(--sz-link);
}
.screen__one__container-content__card {
    margin: 74px 0;
    display: flex;
    flex-direction: column;
    gap: 21px;
}
.screen__one__container-content__card h4 {
    font-size: 24px;
    font-weight: 500;
}
.screen__one__container-content__card a {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
}
.content-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    width: 100%;
}
.card {
    padding: var(--pad-card);
    border-radius: var(--rad-card);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18vh;
    color: #fff;
}
.card h3 {
    font-size: 24px;
    font-weight: 500;
}
.card span {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.card:nth-child(4n + 1) {
    background: var(--grd-eve-1st);
}
.card:nth-child(4n + 2) {
    background: var(--grd-eve-2st);
}
.card:nth-child(4n + 3) {
    background: var(--grd-eve-3st);
}
.card:nth-child(4n + 4) {
    background: var(--grd-eve-4st);
}
.screen__two__container-table__container {
    width: 100%;
    display: flex;
    gap: 21px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.transactions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
thead, tbody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-grey);
    padding: 12px 0;
}
th, td {
    width: 15%;
    display: flex;
    text-align: center;
    font-size: 14px;
}
.transactions thead tr th:nth-child(2), .transactions tbody tr td:nth-child(2) {
    width: 30%;
}
.transactions tbody tr td:nth-child(2) {
    text-transform: uppercase;
}
th {
    font-weight: 600;
    color: var(--clr-grey);
}
td {
    font-weight: 500;
}
.screen__two__container-table__container a {
    align-self: flex-start;
    text-decoration: underline;
}
.main__screen-two-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}