.register-alert {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.register-alert h2 {
    font-size: 25px;
}
.register-alert span {
    font-size: 16px;
    color: var(--clr-grey);
}
a {
    text-decoration: none;
    font-weight: 700;
    font-size: var(--sz-link);
    color: var(--clr-blue-dark);
}
.register__page-selector {
    text-transform: capitalize;
    display: flex;
    gap: 20px;
}
.register__page-selector .register-line {
    border-right: 1px solid black;
}
.container__sign {
    margin: 0 auto;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.container__sign h2 {
    font-size: var(--sz-colossal);
    font-weight: 700;
    margin-bottom: 6px;
}
.register, .sign__in, .signIn {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 40%;
}
input {
    padding: var(--pad-card);
    border-radius: var(--rad-brd-btn);
    border: var(--brd-black-thin);
    font-size: 16px;
    font-weight: 600;
}
button {
    padding: 17px;
    background-color: var(--clr-blue-dark);
    border: none;
    color: #fff;
    font-size: var(--sz-link);
}