@font-face {
    font-family: Gilroy;
    src: url('../assets/fonts/Gilroy-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Gilroy;
    src: url('../assets/fonts/Gilroy-Semibold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: Gilroy;
    src: url('../assets/fonts/Gilroy-Bold.ttf');
    font-weight: 700;
}
:root {
    /* Font */
    --sz-link: 18px;
    --sz-colossal: 48px;
    /* Padding */
    --pad-card: 20px 25px;
    /* Border */
    --brd-black-thin: 1px solid #000;
    /* Radiuses */
    --rad-card: 15px;
    --rad-brd-btn: 10px;
    /* Color */
    /* Container */
    --cont-width: 70%;
    --clr-blue-dark: #0047FF;
    --clr-grey: #B9C0D1;
    /* Gradient */
    --grd-eve-1st: linear-gradient(84.37deg, #D7816A 2.27%, #BD4F6C 92.26%);
    --grd-eve-2st: linear-gradient(84.37deg, #5F0A87 2.27%, #A4508B 92.26%);
    --grd-eve-3st: linear-gradient(84.37deg, #20BF55 2.27%, #01BAEF 92.26%);
    --grd-eve-4st: linear-gradient(84.37deg, #380036 2.27%, #0CBABA 92.26%);   
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}
header, main, footer {
    width: 100%;
}
button {
    border-radius: var(--rad-brd-btn);
}
button, a, .logOut {
    cursor: pointer;
}
.container {
    margin: 0 auto;
    width: var(--cont-width);
}
input, select {
    outline: none;
}