.main__wallets-container {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.wallets__container-heading {
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.wallets__container-heading h2 {
    font-size: var(--sz-colossal);
}
.wallets__container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}
.wallets__container-content a {
    align-self: flex-start;
    width: 35%;
}
.wallets__container-content button {
    width: 100%;
}